@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@100&family=Oswald:wght@200;300;400&display=swap');

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

.body{
    margin: 0;
}

.contenedor_header{
    background-color: #FFFF;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.contenedor_header hr{
    color: #6F6C6C;
    border-width: 0.2px;
}

.headers{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 5%;
}

.asesoramiento{
    width: 22%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.asesoramiento p{
    color: #000;
    font-family: Oswald;
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.5px;
}

.asesoramiento svg{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.iconos{
    width: 50%;
    display: flex;
    justify-content: end;
}

.iconos .menu_movile{
    display: none;
}

.iconos svg{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.logo{
    width: 15%;
    padding-right: 5% ;
}

.nav{
    width: 100%;
}

.nav ul{
    display: flex;
    gap: 5%;
    list-style: none;
    color: #000;
    font-family: Oswald;
    font-size: 0.85em;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    letter-spacing: 0.8px;
}

.nav ul li a{
    text-decoration: none;
}

.nav ul li a:hover{
    text-decoration: underline;
    color: #000;
}

.search_bar{
    width: 20%;
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 6px;
    border: 0.5px solid #C2C2C2;
    height: 28px;
    flex-shrink: 0;
}

.search_bar svg{
    width: 27px;
    height: 27px;
    flex-shrink: 0;
}

.search_bar p{
    flex-shrink: 0;
    color: #6F6C6C;
    font-family: Oswald;
    font-size: 12px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    letter-spacing: 0.6px;
    text-transform: uppercase;
}

.oferta {
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 100%;
  height: 25px;
  flex-shrink: 0;
  background: #78020A;
}

.oferta p {
  width: 543.25px;
  color: #FFF;
  text-align: center;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.4px;
}

.banner_principal{
    margin-bottom: 7%;
}

.banner_principal img{
    width: 100%;
    flex-shrink: 0;
}

.banners_ofertas{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banners_ofertas img{
    width: 33%;
    flex-shrink: 0;
    padding-left: 1%;
    padding-right: 1%;
}

.subtitulo{
    margin-right: 30px;
    color: #000;
    font-family: Oswald;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
    text-decoration-line: underline;
}

.category_container{
    width: 100%;
    margin: 0;
    padding: 0;
}

.category_container .subtitulo_categoria{
    margin-right: 30px;
    color: #000;
    font-family: Oswald;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
    text-decoration-line: underline;
    margin-left: 2.5%;
}

.category{
    width: 95%;
    margin-left: 2%;
    margin-bottom: 81.05px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.category img{
    width: 100%;
    flex-shrink: 0;
}

.category h4{
    margin: 4.5%;
}

.footer{
    width: 100%;
    flex-shrink: 0;
    padding-top: 2%;
    padding-bottom: 2%;
    background: #EEE;
    display: flex;
    justify-content: space-between;
}

.suscribite{
    width: 32.5%;
    padding-left: 2%;
    display: grid;
    justify-content: space-between;
    align-items: center;
}

.suscribite .titulo{
    color: #000;
    font-family: Oswald;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
    margin: 0;
}

.suscribite h5{
    width: 485px;
    height: 19px;
    flex-shrink: 0;
    color: #000;
    font-family: Oswald;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.6px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.suscribite .input{
    width: 100%;
    height: 19px;
    color: #000;
    font-family: IBM Plex Sans Condensed;
    font-size: 12px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    letter-spacing: -0.48px;
    background: none;
    border: none;
    margin-top: 2%;
    margin-bottom: 2%;
}

.suscribite .checkbox{
    color: #000;
    font-family: Oswald;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.6px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.suscribite .checkbox input{
    width: 12px;
    height: 12px;
    flex-shrink: 0;
    border-radius: 3px;
    border: 0.5px solid #000;
}

.suscribite .checkbox label{
    color: #000;
    font-family: Oswald;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.6px;   
}

.suscribite button{
    width: 475px;
    height: 28.018px;
    color: #000;
    font-family: IBM Plex Sans Condensed;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #D3D2D2;
    border: none;
    margin-top: 2%;
    margin-bottom: 2%;
}

.te_informamos{
    width: 20%;
    flex-shrink: 0;
    margin-left: 5%;
}

.te_informamos div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.te_informamos .titulo{
    color: #000;
    font-family: Oswald;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
    margin: 0;
}

.te_informamos .lista{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.te_informamos ul{
    margin-top: 12px;
    padding: 0;
}

.te_informamos ul li{
    margin-top: 6px;
    list-style: none;
    color: #000;
    font-family: Oswald;
    font-size: 12px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    letter-spacing: 0.6px;
}

.nuestras_tiendas{
    width: 10%;
}

.nuestras_tiendas .titulo{
    color: #000;
    font-family: Oswald;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
    margin: 0;
}

.nuestras_tiendas .lista{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.nuestras_tiendas ul{
    margin-top: 6%;
    padding: 0;
}

.nuestras_tiendas .columna1 {
    width: 10%;
}

.nuestras_tiendas .columna2 {
    width: 10%;
}

.nuestras_tiendas .columna1 li{
    margin-top: 6px;
    display: flex;
    gap: 40px;
    list-style: none;
    color: #000;
    font-family: Oswald;
    font-size: 12px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    letter-spacing: 0.6px;
}

.nuestras_tiendas .columna2 li{
    margin-top: 6px;
    display: flex;
    gap: 40px;
    list-style: none;
    color: #000;
    font-family: Oswald;
    font-size: 12px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    letter-spacing: 0.6px;
}

.nuestras_redes{
    width: 12%;
    flex-shrink: 0;
    padding-right: 4%;
}

.nuestras_redes .titulo{
    color: #000;
    font-family: Oswald;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
    margin: 0;
    margin-bottom: 6%;
}

.nuestras_redes .logos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.under_footer{
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
    height: 25px;
    flex-shrink: 0;
}

.under_footer p{
    color: #000;
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    letter-spacing: -0.48px;
}


/* PRUEBO NUEVO DISEÑO CARROUSEL */

.Carousel{
    width: 100%;
    height: 100%;
    /* margin: 0px 60px; */
}
.Carousel h2{
    margin-right: 30px;
    color: #000;
    font-family: Oswald;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
    text-decoration-line: underline;
}

/* images */

.slick-list{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 0px;
    margin: 0px auto;
    max-width: 90vw;
    overflow: hidden;
}
.slick-track{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: .5s ease-in-out;
}
.slick{
    position: relative;
    width: 200px;
    padding: 0 18px;
    float: left;
    box-sizing: border-box;
    display: block;
    height: 100%;
}
.slick h4{
    color: #000;
    text-align: center;
    font-family: Oswald;
    font-size: 14.782px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.slick .price {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-family: Oswald;
    font-size: 19.709px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.slick .offer_price {
    color: #6F6C6C;
    font-family: Oswald;
    font-size: 14.782px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-decoration-line: line-through;
}

.slick .offer {
    display: flex;
    justify-content: center;
    align-items: center;
}


.slick a img{
    object-fit: cover;
    width: 190px;
    height: 172px;
    flex-shrink: 0;
    /* height: 300px; */
    /* width: 100%; */
    border-radius: 4px;
    /* box-shadow: 0 2px 5px 0 rgba(0,0,0,.5); */
    transition: .3s ease-in-out;
}
.slick a img:hover{
    opacity: .85;
}

/* buttons */

.slick-arrow{
    /* border-radius: 30px; */
    background-color: #fff;
    position: absolute;
    z-index: 4;
    width: 2em;
    height: 26.2em;
    text-align: center;
    box-shadow: 2px 2px 5px 2px rgba(0,0,0,.15);
    border: 0;
    cursor: pointer;
}
.slick-arrow:focus{
    outline: 0;
}
.slick-arrow svg{
    width: 20px;
    height: 100%;
    color: rgba(0,0,0,.7);
}
.slick-prev{
    left: 0px;
}
.slick-next{
    right: 0px;
}

.banner_principal .image_movile{
    display: none;
}

/* @media (max-width: 768px){
    .iconos{
        display: none;
    }
    .nav{
        order: 1;
        visibility: hidden;
    }
    .search_bar{
        width: 30%;
    }
    .headers{
        padding-left: 1%;
    }
    .logo{
        padding-right: 70%;
    }
} */

@media (max-width: 480px){
    .body{
        margin: 0;
    }
    
    .headers{
        display: block;
        justify-content: space-between;
        align-items: center;
    }
    .asesoramiento{
        margin-left: 10%;
        width: 80%;
    }
    .asesoramiento p{
        font-size: 10px;
    }
    .contenedor_header hr{
        display: none;
    }
    .logo img {
        z-index: 1;
        width: 110px;
        height: 34px;
    }
    .search_bar{
        width: 100%;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .nav{
        display: none;
    }
    .iconos {
        margin-top: 10px;
        position: absolute;
        justify-content: space-around;
        right: 0;
    }
    .iconos .tienda{
        display: none;
    }
    .iconos .envios{
        display: none;
    }
    .iconos .menu_movile{
        display: block;
    }
    .banner_principal img{
        display: none;
    }
    .banner_principal .image_movile{
        display: block;
    }
    .footer{
        display: block;
        width: 100%;
    }
    .suscribite,
    .te_informamos,
    .nuestras_tiendas,
    .nuestras_redes {
        width: 100%;
        display: block;
        margin-bottom: 5%; 
    }
    .suscribite h5{
        width: 100%;
        margin-bottom: 5%;
    }
    .suscribite .input{
        width: 98%;
        border-radius: 6px;
        border: 1px solid #000;
    }
    .suscribite .checkbox{
        width: 100%;
        display: flex;
    }
    .suscribite .checkbox input{
        margin-right: 2%;
    }
    .suscribite .checkbox label{
        color: #000;
        font-family: IBM Plex Sans Condensed;
        font-size: 12px;
        font-style: normal;
        font-weight: 200;
        line-height: normal;
        letter-spacing: -0.48px;
    }
    .suscribite button{
        width: 98%;
    }
    .te_informamos .titulo{
        margin-left: 8%;
    }
    .te_informamos .lista{
        width: 90%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .nuestras_tiendas .titulo{
        margin-left: 13%;
    }
    .nuestras_tiendas .lista{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .nuestras_tiendas .columna1{
        width: 40%;
        margin-left: 11%;
    }
    .nuestras_tiendas .columna2{
        width: 40%;
    }
    .nuestras_redes .titulo{
        margin-left: 40%;
    }
    .nuestras_redes .logos{
        width: 30%;
        margin-left: 35%;
        justify-content: space-between;
        align-items: center;
    }
    .under_footer{
        width: 100%;
        margin-bottom: 5%;
    }
    .under_footer p{
        color: #000;
        text-align: center;
        font-family: "IBM Plex Sans Condensed", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 200;
        line-height: normal;
        letter-spacing: -0.48px;
    }

    /* Estilos adicionales para los títulos de cada sección */
    .titulo {
    font-weight: bold;
    margin-bottom: 10px; /* Espacio entre el título y el contenido */
    }
}