@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@100&family=Oswald:wght@200;300;400&display=swap');


.contenedor_header{
    background-color: #FFFF;
    /* position: fixed; */
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.contenedor_header hr{
    color: #6F6C6C;
    border-width: 0.2px;
}

.headers{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 5%;
}

.asesoramiento{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.asesoramiento p{
    color: #000;
    font-family: Oswald;
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.5px;
}

.asesoramiento svg{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.iconos svg{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.logo{
    width: 145.025px;
    height: 45px;
    margin: 0;
    border: 40px;
    flex-shrink: 0;
}

.nav{
    color: #000;
    font-family: Oswald;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.8px;
}

.nav ul{
    display: flex;
    gap: 40px;
    list-style: none;
    color: #000;
    font-family: Oswald;
    font-size: 16px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    letter-spacing: 0.8px;
}

.nav ul li a{
    text-decoration: none;
}

.nav ul li a:hover{
    text-decoration: underline;
    color: #000;
}

.search_bar{
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 6px;
    border: 0.5px solid #C2C2C2;
    width: 233px;
    height: 28px;
    flex-shrink: 0;
}

.search_bar svg{
    width: 27px;
    height: 27px;
    flex-shrink: 0;
}

.search_bar p{
    flex-shrink: 0;
    color: #6F6C6C;
    font-family: Oswald;
    font-size: 12px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    letter-spacing: 0.6px;
    text-transform: uppercase;
}

.oferta {
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 100%;
  height: 25px;
  flex-shrink: 0;
  background: #78020A;
}

.oferta p {
  width: 543.25px;
  color: #FFF;
  text-align: center;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.4px;
}

.banner_principal img{
    width: 100%;
    flex-shrink: 0;
}

.banners_ofertas{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banners_ofertas img{
    width: 33%;
    flex-shrink: 0;
    margin: 25px;
}

.subtitulo{
    margin-right: 30px;
    color: #000;
    font-family: Oswald;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
    text-decoration-line: underline;
}

.category_container{
    width: 100%;
    /* margin-left: 31px;
    margin-right: 32px;
    margin-bottom: 81.05px; */
}

.category_container .subtitulo{
    margin-left: 32px;
}

.category{
    width: 100%;
    margin-left: 2%;
    margin-bottom: 81.05px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category img{
    width: 230.093px;
    flex-shrink: 0;
}

.category h4{
    margin: 4.5%;
}

.footer{
    width: 100%;
    height: 214px;
    flex-shrink: 0;
    background: #EEE;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.suscribite{
    display: grid;
    justify-content: space-between;
    align-items: center;
    width: 486px;
    height: 152px;
    margin-right: 94px;
    margin-left: 78px;
    margin-top: 16px;
    margin-bottom: 50px;
}

.suscribite .titulo{
    color: #000;
    font-family: Oswald;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
    margin: 0;
}

.suscribite h5{
    width: 485px;
    height: 19px;
    flex-shrink: 0;
    color: #000;
    font-family: Oswald;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.6px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.suscribite .input{
    width: 485px;
    height: 19px;
    color: #000;
    font-family: IBM Plex Sans Condensed;
    font-size: 12px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    letter-spacing: -0.48px;
    background: none;
    border: none;
    margin-top: 2%;
    margin-bottom: 2%;
}

.suscribite .checkbox{
    color: #000;
    font-family: Oswald;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.6px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.suscribite .checkbox input{
    width: 12px;
    height: 12px;
    flex-shrink: 0;
    border-radius: 3px;
    border: 0.5px solid #000;
}

.suscribite .checkbox label{
    color: #000;
    font-family: Oswald;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.6px;   
}

.suscribite button{
    width: 475px;
    height: 28.018px;
    color: #000;
    font-family: IBM Plex Sans Condensed;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #D3D2D2;
    border: none;
    margin-top: 2%;
    margin-bottom: 2%;
}

.te_informamos{
    width: 259px;
    height: 144px;
    flex-shrink: 0;
    margin-bottom: 54px;
    margin-top: 16px;
    margin-right: 94px;
    margin-left: 0;
}

.te_informamos div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5%;
}

.te_informamos .titulo{
    color: #000;
    font-family: Oswald;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
    margin: 0;
}

.te_informamos .lista{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.te_informamos ul{
    margin-top: 12px;
    padding: 0;
}

.te_informamos ul li{
    margin-top: 6px;
    display: flex;
    gap: 40px;
    list-style: none;
    color: #000;
    font-family: Oswald;
    font-size: 12px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    letter-spacing: 0.6px;
}

.nuestras_tiendas{
    width: 206px;
    height: 120px;
    flex-shrink: 0;
    margin-top: 16px;
    margin-bottom: 78px;
}

.nuestras_tiendas .titulo{
    color: #000;
    font-family: Oswald;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
    margin: 0;
}

.nuestras_tiendas .lista{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.nuestras_tiendas ul{
    margin-top: 12px;
    padding: 0;
}

.nuestras_tiendas .columna1 {
    width: 82px;
    height: 90px;
}

.nuestras_tiendas .columna2 {
    width: 92px;
    height: 90px;
}

.nuestras_tiendas .columna1 li{
    margin-top: 6px;
    display: flex;
    gap: 40px;
    list-style: none;
    color: #000;
    font-family: Oswald;
    font-size: 12px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    letter-spacing: 0.6px;
}

.nuestras_tiendas .columna2 li{
    margin-top: 6px;
    display: flex;
    gap: 40px;
    list-style: none;
    color: #000;
    font-family: Oswald;
    font-size: 12px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    letter-spacing: 0.6px;
}

.nuestras_redes{
    width: 122px;
    height: 68px;
    flex-shrink: 0;
    margin-right: 79px;
    margin-top: 16px;
    margin-bottom: 130px;
}

.nuestras_redes .titulo{
    color: #000;
    font-family: Oswald;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
    margin: 0;
}

.nuestras_redes .logos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 26px;
}

.urder_footer{
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
    height: 25px;
    flex-shrink: 0;
}

.urder_footer p{
    color: #000;
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    letter-spacing: -0.48px;
}


/* PRUEBO NUEVO DISEÑO CARROUSEL */

.Carousel{
    width: 100%;
    height: 100%;
    margin: 0px 60px;
}
.Carousel h2{
    margin-right: 30px;
    color: #000;
    font-family: Oswald;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
    text-decoration-line: underline;
}

/* images */

.slick-list{
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 304px;
    padding: 10px 0px;
    margin: 0px auto;
    max-width: 90vw;
    overflow: hidden;
}
.slick-track{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: .5s ease-in-out;
}
.slick{
    position: relative;
    width: 275px;
    padding: 0 18px;
    float: left;
    box-sizing: border-box;
    display: block;
    height: 100%;
}
.slick h4{
    color: #000;
    text-align: center;
    font-family: Oswald;
    font-size: 14.782px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.slick .price {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-family: Oswald;
    font-size: 19.709px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.slick .offer_price {
    color: #6F6C6C;
    font-family: Oswald;
    font-size: 14.782px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-decoration-line: line-through;
}

.slick .offer {
    display: flex;
    justify-content: center;
    align-items: center;
}


.slick a img{
    object-fit: cover;
    width: 221.73px;
    height: 172.456px;
    flex-shrink: 0;
    /* height: 300px; */
    /* width: 100%; */
    border-radius: 4px;
    /* box-shadow: 0 2px 5px 0 rgba(0,0,0,.5); */
    transition: .3s ease-in-out;
}
.slick a img:hover{
    opacity: .85;
}

/* buttons */

.slick-arrow{
    border-radius: 30px;
    background-color: #fff;
    position: absolute;
    z-index: 4;
    width: 48px;
    height: 48px;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
    border: 0;
    cursor: pointer;
}
.slick-arrow:focus{
    outline: 0;
}
.slick-arrow svg{
    width: 12px;
    height: 100%;
    color: rgba(0,0,0,.7);
}
.slick-prev{
    left: 0px;
}
.slick-next{
    right: 0px;
}